.idea/
.vscode/
node_modules/
build/
tmp/
temp/

#env files
env/production.env
env/remote.env
env/development.env

#public files
src/public/broker/
src/public/
package-lock.json
src/middleware/firebase.json
src/middleware/credentials.json
src/middleware/calendarTokens/
token.json